<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>The Anime Warehouse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Check this out!</ion-title>
    </ion-toolbar>
    <br>
    <app-anime-header-slider></app-anime-header-slider>
  </ion-header>
  <br>
  <div class="glass-content">
    <app-anime-banners></app-anime-banners>
    <br>
    <app-anime-cards></app-anime-cards>
  </div>
</ion-content>
